body {
    text-align: center;
    background-color: black;
    color: white;
}

#dataSize {
    width: auto;
    max-width: 60px;
}

div#centerLeft {
    display: inline-block;
    text-align: left;
}

