body {
    text-align: center;
    background-color: black;
    color: white;
}

#dataSize {
    width: auto;
    max-width: 43px;
}

div#dataDisplay {
    margin: auto;
    text-align: center;
}

div#centerLeft {
    display: inline-block;
    text-align: left;
}

form#algorithmSettings {
    float: left;
}

form#pickAlgo {
    float: left;
    clear: right;
}